<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capsaicin.sunhan">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Front_SunHan"
        android:name="com.capsaicin.sunhan.View.activity.kakaoApplication">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="11b33a8e699d97bd408aa024de68650b" />
        <activity
            android:name="com.capsaicin.sunhan.View.activity.LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!-- 카카오 링크 공유하기 추가부분-->
                <action android:name="android:intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.capsaicin.sunhan.View.activity.StoreDetailActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.capsaicin.sunhan.View.activity.LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.capsaicin.sunhan.View.activity.ToolbarActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.capsaicin.sunhan.View.activity.BottomNavigationActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.capsaicin.sunhan.View.activity.PopupActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.capsaicin.sunhan.View.activity.CardCheckActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.capsaicin.sunhan.View.activity.MyPageAddCardDetailActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.capsaicin.sunhan.View.activity.ManageBlockActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.capsaicin.sunhan.View.activity.EditProfileActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.capsaicin.sunhan.View.activity.DeleteAccountActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.capsaicin.sunhan.View.activity.MyLogsActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.capsaicin.sunhan.View.activity.PolicyActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.capsaicin.sunhan.View.activity.SetAlarmActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.capsaicin.sunhan.View.activity.WriteActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.capsaicin.sunhan.View.activity.MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.capsaicin.sunhan.View.activity.CommunityDetailActivity"
            android:exported="true">
        </activity>




        <!-- 여기 조심해주세요 -->
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao11b33a8e699d97bd408aa024de68650b" />
            </intent-filter>
        </activity>

    </application>
</manifest>